body {
  margin: 20px; /* Ajusta el margen para evitar que los elementos se corten en la parte superior */
  font-family: 'Arial', sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.search-container {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.search-container input {
  padding: 8px;
  font-size: 16px;
  margin-right: 10px;
}

.search-container button {
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: 2px solid #f2f2f2;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  width: calc(30% - 20px); /* Ancho para 3 tarjetas por fila */
  box-sizing: border-box; /* Añadido para incluir el margen y el padding en el cálculo del ancho */
  cursor: pointer;
  background-color: aquamarine;
  box-shadow: 0 10px 10px 0 lightgray;
}

.card img {
  max-width: 100%;
  height: auto;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  background-color: white;
}

/* Añadir un fondo a la página */
html, body, #app {
  height: 100%;
  background-color: #f7f7f7;
}

.large-card-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.large-card {
  border: 2px solid #f2f2f2;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  background-color: white;
  max-width: 80vw; /* Cambiado de % a vw para ajustarse al ancho de la ventana */
  max-height: 80vh; /* Cambiado de % a vh para ajustarse a la altura de la ventana */
  overflow-y: auto;
}

.large-card img {
  max-width: 100%;
  height: auto;
}


