* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: white;
  font-size: 30px;
  font-weight: 400;
}

main {
  width: 700px;
  margin: 0 auto;
  padding: 20px;
}

input, button {
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

input {  
  width: 70%;
}

button {
  cursor: pointer;
}

li {
  background-color: beige;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
}